//Colors
$color-primary-orange: #F26623;
$color-secondary-orange: #D24A09;
$color-tertiary-orange: #F44336;
$color-gray: #959595;
$color-light-gray: #D8D8D8;
$color-primary-blue: #011A1F;
$color-secondary-blue: #09343C;
$color-bluegreen: #66AA99;
$color-font-primary: #153C3F;


//Typography
$primary-font-family: 'Lato', 'sans-serif';